<section class="px-4 sm:px-6 lg:px-8 pt-24 lg:pt-32">

  <div class="relative mx-auto lg:text-center pb-10">
    <h1 class="font-bold text-neutral-700 dark:text-neutral-200 text-2xl sm:text-5xl">
      <span class="block lg:inline">Addons</span>
    </h1>
    <p class="mt-2 text-sm text-gray-500">
      For when you simply need more
    </p>
  </div>
  
  <!-- Addons table (up to lg) -->
  <div aria-labelledby="mobile-comparison-heading" class="lg:hidden">
    <div key="plan.title">
      
      <h4 class="text-sm font-bold text-neutral-700 dark:text-neutral-200">
        Addons billed as 1 credit
      </h4>

      <div class="relative mt-6">
        <!-- Fake card background -->
        <div
          aria-hidden="true"
          class="pointer-events-none absolute inset-0 hidden sm:block"
        >
          <div
            class="absolute right-0 h-full w-1/2 rounded-lg bg-white dark:bg-glitchsecure-purple-dark shadow"
          ></div>
        </div>

        <div
          class="relative rounded-lg bg-white dark:bg-glitchsecure-purple-dark py-3 px-4 shadow ring-1 ring-black ring-opacity-5 sm:rounded-none sm:bg-transparent sm:p-0 sm:shadow-none sm:ring-0"
        >
          <dl class="divide-y divide-gray-200">

            {% for member in site.data.pricing.addons %}
            <div
              class="flex items-center justify-between py-3 sm:grid sm:grid-cols-2">
              <dt class="pr-4 text-sm font-medium text-neutral-600 dark:text-neutral-300">
                {{ member.name }}
              </dt>
              <dd
                class="flex items-center justify-end sm:justify-center sm:px-4">
              <span class="text-sm font-medium text-neutral-700 dark:text-neutral-200 text-right">{{ member.what-included }}</span
              </dd>
            </div>
            {% endfor %}
          </dl>
        </div>

        <!-- Fake card border -->
        <div
          aria-hidden="true"
          class="pointer-events-none absolute inset-0 hidden sm:block"
        >
          <div
            class="absolute right-0 h-full w-1/2 rounded-lg ring-1 ring-black ring-opacity-5"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Addons (lg+) -->
  <div aria-labelledby="addons-heading" class="hidden lg:block mx-auto max-w-4xl">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-left text-sm text-gray-500 dark:text-gray-400">
        <thead
          class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Addon</th>
            <th scope="col" class="px-6 py-3">What's included</th>
            <th scope="col" class="px-6 py-3">Credit</th>
          </tr>
        </thead>
        <tbody>
          {% for member in site.data.pricing.addons %}
          <tr class="border-b bg-white dark:border-gray-700 dark:bg-gray-800">
            <th
              scope="row"
              class="whitespace-nowrap px-6 py-4 font-medium text-neutral-700 dark:text-neutral-200 dark:text-white"
            >
              {{ member.name }}
            </th>
            <td class="px-6 py-4">{{ member.what-included }}</td>
            <td class="px-6 py-4">{{ member.credit }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</section>