<section class="pt-16 lg:pt-32">

  <div aria-labelledby="comparison-heading" class="relative">

    <div class="max-w-7xl px-4 sm:px-6 lg:px-8 mx-auto">
      <div class="hidden lg:flex items-stretch w-full border-t border-gray-200">

        <div class="-mt-px flex-1 py-6 pr-4 flex items-end mr-auto"></div>

        {% for plan in site.data.pricing.plans %}

          <div
            @click="selectedPlanKey !== '{{ plan.key }}' ? selectPlan('{{ plan.key }}') : null"
            class="lg:cursor-pointer pr-4 -mt-px pl-4 flex-1"
          >
            <div
              x-bind:class="isSelectedPlan('{{ plan.key }}') ? 'border-glitchsecure-600' : 'border-transparent'"
              class="py-6 border-t-2"
            >
              <p
                x-bind:class="isSelectedPlan('{{ plan.key }}') ? 'text-glitchsecure-600' : 'text-neutral-700 dark:text-neutral-200'"
                class="text-sm font-bold"
              >
                {{ plan.name }}
              </p>
              <p class="mt-2 text-sm text-neutral-500 dark:text-neutral-400">{{ plan.subtitle }}</p>
            </div>
          </div>

        {% endfor %}

      </div>

      <div class="relative">

        <!-- Fake card backgrounds -->
        <div class="absolute inset-0 flex items-stretch pointer-events-none" aria-hidden="true">

          <div class="flex-1 pr-4 mr-auto"></div>

          {% for plan in site.data.pricing.plans %}

            <div x-bind:class="{ 'hidden lg:block': !isSelectedPlan('{{ plan.key }}') }" class="flex-1 px-4">
              <div class="w-full h-full bg-white dark:bg-glitchsecure-purple-dark rounded-lg shadow border"></div>
            </div>

          {% endfor %}

        </div>

        <table class="relative w-full">
          <tbody class="divide-y divide-gray-100">

            {% for feature in site.data.pricing.plans.incrementing-features %}

              <tr>

                <th scope="row" class="w-1/4 py-3 pr-4 text-left text-sm font-medium text-neutral-600 dark:text-neutral-300">
                  {{ feature.name }}
                </th>
                
                {% for plan in site.data.pricing.plans %}
                  {% for f in plan.incrementing-features %}
                    {% if f.key == feature.key %}
                      <td
                        x-data="{
                          base: {{ f.base }},
                          increment: {{ f.increment }},
                          max: {{ f.max }},
                          get credits() {
                            const newValue = this.creditCounter * this.increment
                            if (this.base <= newValue) {
                              return this.base
                            } else if (this.max >= newValue) {
                              return this.max
                            }
                            return newValue
                          },
                        }"
                        x-bind:class="{ 'hidden lg:table-cell' : !isSelectedPlan('{{ plan.key }}') }"
                        class="px-4 relative w-1/4 py-0 text-center"
                      >
                        <span class="relative w-full h-full py-3">
                          <span class="text-neutral-700 dark:text-neutral-200 text-sm font-medium">
                            {{ feature.prefix }} <span x-text="credits"></span> {{ feature.suffix }}
                          </span>
                          <span x-show="false" class="flex justify-center text-neutral-400 text-sm font-medium">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                              <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                            </svg>
                          </span>
                        </span>
                      </td>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
                
              </tr>
          
            {% endfor %}

          </tbody>
        </table>

      </div>
    </div>
  </div>
  
</section>