<!-- This example requires Tailwind CSS v3.0+ -->
  <div class="flow-root bg-white dark:bg-glitchsecure-purple-medium pb-32 lg:pb-40">
    <div class="relative -mt-48 -mb-16">
      <div class="relative z-10 mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-md grid-cols-1 gap-8 lg:max-w-4xl lg:grid-cols-2 lg:gap-8">


          <div class="flex flex-col rounded-md bg-white dark:bg-neutral-900 shadow-xl ring-1 ring-black/10">
            <div class="p-8 sm:p-10">
              <h2 class="text-3xl font-bold text-center text-neutral-700 dark:text-neutral-400">
                {{ page.va-plan-shortcode }}
              </h2>
              <h3 class="text-lg font-semibold leading-8 tracking-tight text-center text-glitchsecure-purple dark:text-neutral-200" id="tier-hobby">
                {{ page.va-plan-title }}
              </h3>
              <span class="block mt-6 text-xs text-center text-neutral-600 dark:text-neutral-400">
                {{ page.va-plan-price-prefix }}
              </span>
              <div class="mt-4 items-baseline text-5xl font-bold tracking-tight text-center text-neutral-900 dark:text-neutral-200">
                {{ page.va-plan-price }}
                <span class="text-lg font-semibold leading-8 tracking-normal text-neutral-600 dark:text-neutral-400">/{{ page.va-plan-price-frequency }}</span>
              </div>
              <span class="block mt-6 text-xs text-center text-neutral-600 dark:text-neutral-400">
                Per <abbr title="{{ page.va-plan-price-value-metric-info }}">{{ page.va-plan-price-value-metric }}</abbr>, billed annually
              </span>
              <p class="mt-6 text-base leading-7 text-neutral-600 dark:text-neutral-400">
                {{ page.va-plan-description }}
              </p>
            </div>

            <div class="flex flex-1 flex-col p-2">
              <div class="flex flex-1 flex-col justify-between rounded-md bg-neutral-100 dark:bg-neutral-800 p-6 sm:p-8">
                <ul role="list" class="space-y-6">
                  {% for feature in site.data.pricing.va-features %}

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      {% if feature.icon %}
                      <svg class="h-6 w-6 text-glitchsecure-purple" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="{{ feature.icon }}" />
                      </svg>
                      {% else %}
                      <svg class="h-6 w-6 text-glitchsecure-purple" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                      {% endif %}
                    </div>
                    <p class="ml-3 text-sm leading-6 text-neutral-600 dark:text-neutral-400 font-semibold">{{ feature.name }}</p>
                  </li>
                  {% endfor %}
                </ul>
                <div class="mt-8">
                  <a href="/demo/"
                    class="inline-block w-full rounded-md px-4 py-2.5 text-center text-sm font-semibold leading-5 shadow-md bg-glitchsecure-purple text-white hover:bg-glitchsecure-purple-light"
                  >
                    {{ page.va-plan-cta-button-title }}
                  </a>
                </div>
                <a href="/vulnerability-assessment/" class="text-center pt-4 text-xs mx-auto text-glitchsecure-purple dark:text-neutral-200 hover:underline">Learn More -></a>
              </div>
            </div>
          </div>

          <div class="flex flex-col rounded-md bg-white dark:bg-neutral-900 shadow-xl ring-1 ring-black/10">
            <div class="p-8 sm:p-10">
              <h2 class="text-3xl font-bold text-center text-neutral-700 dark:text-neutral-400">
                {{ page.pt-plan-shortcode }}
              </h2>
              <h3 class="text-lg font-semibold leading-8 tracking-tight text-center text-glitchsecure-purple dark:text-neutral-200" id="tier-hobby">
                {{ page.pt-plan-title }}
              </h3>
              <span class="block mt-6 text-xs text-center text-neutral-600 dark:text-neutral-400">
                {{ page.pt-plan-price-prefix }}
              </span>
              <div class="mt-4 items-baseline text-5xl font-bold tracking-tight text-center text-neutral-900 dark:text-neutral-200">
                {{ page.pt-plan-price }}
                <span class="text-lg font-semibold leading-8 tracking-normal text-neutral-600 dark:text-neutral-400">/{{ page.pt-plan-price-frequency }}</span>
              </div>
              <span class="block mt-6 text-xs text-center text-neutral-600 dark:text-neutral-400">
                billed annually
              </span>
              <p class="mt-6 text-base leading-7 text-neutral-600 dark:text-neutral-400">
                {{ page.pt-plan-description }}
              </p>
            </div>
            <div class="flex flex-1 flex-col p-2">
              <div class="flex flex-1 flex-col justify-between rounded-md bg-neutral-100 dark:bg-neutral-800 p-6 sm:p-8">
                <ul role="list" class="space-y-6">
                  {% for feature in site.data.pricing.pt-features %}

                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: outline/check -->
                      {% if feature.icon %}
                      <svg class="h-6 w-6 text-glitchsecure-purple" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="{{ feature.icon }}" />
                      </svg>
                      {% else %}
                      <svg class="h-6 w-6 text-glitchsecure-purple" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                      </svg>
                      {% endif %}
                    </div>
                    <p class="ml-3 text-sm leading-6 text-neutral-600 dark:text-neutral-400 font-semibold">{{ feature.name }}</p>
                  </li>
                  {% endfor %}
                </ul>
                <div class="mt-8">
                  <a href="/demo/"
                    class="inline-block w-full rounded-md px-4 py-2.5 text-center text-sm font-semibold leading-5 shadow-md bg-glitchsecure-purple text-white hover:bg-glitchsecure-purple-light"
                  >
                    {{ page.pt-plan-cta-button-title }}
                  </a>
                </div>
                <a href="/pentest/" class="text-center pt-4 text-xs mx-auto text-glitchsecure-purple dark:text-neutral-200 hover:underline">Learn More -></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <span class="block lg:-mt-12 text-xs text-center text-neutral-400 dark:text-neutral-400">
    All plans billed annually. Prices are in USD unless otherwise stated.
  </span>
