<div class="relative bg-glitchsecure-purple pb-12 dark:bg-glitchsecure-purple-dark">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-16 lg:px-8">
    <h2 class="text-3xl font-extrabold text-neutral-200 sm:text-4xl">
      <span class="block">Ready to get hacked?</span>
      <span class="block font-medium text-base text-neutral-300">Get expert hackers on your side zero-day.</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex">
        <a href="/intro/" class="inline-flex items-center justify-center rounded-sm border border-transparent bg-neutral-200 px-5 py-3 text-base font-medium text-neutral-900 hover:bg-neutral-100">Book a demo</a>
      </div>
      <div class="ml-3 inline-flex">
        <a href="/pricing/" class="inline-flex items-center justify-center rounded-sm border border-transparent bg-neutral-900 px-5 py-3 text-base font-medium text-white hover:bg-neutral-800">See plans</a>
      </div>
    </div>
  </div>
</div>
