<!-- ====== Hero Section Start -->
<div
  x-data="
    {
      videoOpen: false,
      getstartedOpen: false
    }
  "
  class="relative bg-gradient-to-br from-hero-gradient-left via-glitchsecure-purple to-hero-gradient-right pb-12 dark:bg-gradient-to-br dark:from-glitchsecure-purple-dark dark:via-hero-gradient-middle-dark dark:to-hero-gradient-right-dark"
>
  <img
    class="absolute block h-full w-full object-cover object-center opacity-[0.2] dark:hidden"
    src="/assets/img/home/herobg-light.png"
  />
  <img
    class="absolute hidden h-full w-full object-cover object-center opacity-[0.2] dark:block"
    src="/assets/img/home/herobg-dark.png"
  />
  {%- include nav.html -%}

  <div class="container max-w-7xl pt-6 lg:pt-12">
    <div class="flex flex-wrap items-center">
      <div class="w-full px-4 pt-32 lg:w-1/2">
        <div class="animate-fadeIn">
          <h1
            class="mb-4 text-4xl font-extrabold leading-snug tracking-tight text-gray-200 md:mb-32 md:text-left md:text-6xl"
          >
            {{ page.title }}
          </h1>
        </div>
      </div>
      <div class="w-full px-4 lg:w-1/2">
        <div class="animate-fadeIn">
          <p
            class="mb-8 max-w-xl text-sm text-gray-100 md:text-left md:text-xl"
          >
            {{ page.subtitle }}
          </p>
          {% if page.hero-button %}
          <div class="mb-7 flex-wrap md:flex">
            <a
              href="{{ page.hero-button-link }}"
              @click="{{ page.hero-button-click }}"
              class="mb-3 mr-1 inline-flex rounded-lg bg-neutral-100 py-3 px-6 text-base font-medium text-black transition hover:bg-opacity-90"
            >
              {{ page.hero-button }}
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% include getstarted/modal.html %}
</div>
