<!-- ====== Navbar Section Start -->
<header
  x-data="
    {
      navbarOpen: false,
      submenuOpen: false
    }
  "
  class="flex w-full items-center bg-transparent relative z-10 x-cloak"
>
  <div class="w-full mx-auto px-4 max-w-7xl animate-fadeIn">
    <div class="relative flex items-center justify-between">
      <div class="w-96 max-w-full px-4">
        <a href="{{ site.url }}/" class="block w-full py-5">
          <img
            src="{{ site.url }}/assets/img/logo-wordmark-white.svg"
            alt="logo"
            class="w-full"
          />
        </a>
      </div>
      <div class="flex w-full items-center justify-between px-4">
        <div>
          {% if site.data.navigation %}
          <button
            @click="navbarOpen = !navbarOpen"
            :class="navbarOpen && 'navbarTogglerActive' "
            id="navbarToggler"
            class="
              block
              absolute
              right-4
              top-1/2
              lg:hidden
              focus:ring-2
              ring-violet-500
              violet-500
              px-3
              py-2

              rounded-lg
               transform -translate-y-1/2
            "
          >
            <span
              class="relative w-8 h-0.5 my-1.5 block bg-violet-500 transform transition duration-500 ease-in-out"
            ></span>
            <span
              class="relative w-8 h-0.5 my-1.5 block bg-violet-500 transform transition duration-200 ease-in-out"
            ></span>
            <span
              class="relative w-8 h-0.5 my-1.5 block bg-violet-500 transform transition duration-700 ease-in-out"
            ></span>

          </button>
          {% endif %}

          <nav
            :class="!navbarOpen && 'hidden' "
            id="navbarCollapse"
            class="bg-neutral-900 absolute block top-full right-4 z-50 w-full max-w-xs py-5 shadow
            lg:static lg:block lg:w-full lg:max-w-full lg:bg-transparent lg:py-0 lg:px-6 lg:shadow-none"
          >
            <ul class="block lg:flex">
              {% for item in site.data.navigation %} {% if page.url == item.url
              %}
              <li class="group relative">
                <a
                  href="{{ item.url }}"
                  class="flex border-b-2 border-gray-400 py-2 px-6 text-base font-medium text-gray-200 hover:text-gray-400 lg:inline-flex lg:py-6 lg:px-6"
                >
                  {{ item.title }}
                </a>
              </li>

              {% elsif item.dropdown %}
              <li class="submenu-item group relative">
                <a
                  href="javascript:void(0)"
                  @click="submenuOpen = !submenuOpen "
                  class="flex border-b-2 border-transparent py-2 px-6 text-base font-medium text-gray-200 hover:border-gray-400 hover:text-gray-400 lg:inline-flex lg:py-6 lg:px-6"
                >
                  {{ item.title }}
                </a>
                <div
                  :class="!submenuOpen ? 'hidden lg:block' : 'block' "
                  class="relative top-full left-0 rounded-lg bg-neutral-900 bg-opacity-80 px-4 transition-all group-hover:opacity-100 lg:invisible lg:absolute lg:top-[115%] lg:w-64 lg:p-4 lg:opacity-0 lg:shadow-lg lg:group-hover:visible lg:group-hover:top-full"
                >
                  <!-- dropdown menu -->
                  {% for item in site.data.navigation-dropdown-services %}
                  <a
                    href="{{ item.url }}"
                    class="block rounded py-2.5 px-4 text-sm font-medium text-gray-200 hover:bg-violet-500 hover:text-gray-100"
                  >
                    {{ item.title }}
                  </a>
                  {% endfor %}
                </div>
              </li>
              {% else %}
              <li class="group relative">
                <a
                  href="{{ item.url }}"
                  class="flex border-b-2 border-transparent py-2 px-6 text-base font-medium text-gray-200 hover:border-gray-400 hover:text-gray-400 lg:inline-flex lg:py-6 lg:px-6"
                >
                  {{ item.title }}
                </a>
              </li>
              {% endif %} {% endfor %}
            </ul>
          </nav>
        </div>
        <div class="justify-end pr-16 lg:pr-0 flex">
          <a
            href="https://app.glitchsecure.com/"
            class="hidden sm:block py-3 px-7 text-base font-medium text-gray-200 hover:text-gray-400"
          >
            Login
          </a>
          <a
            href="javascript:void(0)"
            @click="localStorage.clear(); getstartedOpen = true; plausible('Get Started Button', {props: {method: 'Navigation Menu'}});"
            class="hidden xl:block rounded-lg bg-neutral-100 py-3 px-4 text-base font-medium text-black hover:bg-opacity-90"
          >
            <svg
              class="mr-1 inline h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13 7l5 5m0 0l-5 5m5-5H6"
              />
            </svg>
            Get Started
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- ====== Navbar Section End -->
