<!-- ====== Navbar Section Start -->
<header
  x-data="
    {
      navbarOpen: false,
      submenuOpen: false
    }
  "
  class="bg-neutral-900 sticky top-0 z-30 w-full flex items-center"
>
  <div class="container">
    <div class="flex items-center justify-between relative">
      <div class="px-4 w-96 max-w-full">
        <a href="javascript:void(0)" class="w-full block py-5">
          <img
            src="{{ site.url }}/assets/img/logo-wordmark-white.svg"
            alt="logo"
            class="w-full"
          />
        </a>
      </div>
      <div class="flex px-4 justify-between items-center w-full">
        <div>
          <button
            @click="navbarOpen = !navbarOpen"
            :class="navbarOpen && 'navbarTogglerActive' "
            id="navbarToggler"
            class="
              block
              absolute
              right-4
              top-1/2
              -translate-y-1/2
              lg:hidden
              focus:ring-2
              ring-primary
              px-3
              py-[6px]
              rounded-lg
            "
          >
            <span
              class="relative w-[30px] h-[2px] my-[6px] block bg-white"
            ></span>
            <span
              class="relative w-[30px] h-[2px] my-[6px] block bg-white"
            ></span>
            <span
              class="relative w-[30px] h-[2px] my-[6px] block bg-white"
            ></span>
          </button>
          <nav
            :class="!navbarOpen && 'hidden' "
            id="navbarCollapse"
            class="
              absolute
              py-5
              px-6
              bg-white
              lg:bg-transparent
              shadow
              rounded-lg
              max-w-[250px]
              w-full
              lg:max-w-full lg:w-full
              right-4
              top-full
              lg:block lg:static lg:shadow-none
            "
          >
            <ul class="block lg:flex">
              <li>
                <a
                  href="javascript:void(0)"
                  @click="submenuOpen = !submenuOpen "
                  class="
                    text-base
                    font-medium
                    text-dark
                    lg:text-white
                    hover:text-primary
                    py-2
                    lg:inline-flex
                    flex
                    lg:ml-12 hover:border-gray-300 hover:text-gray-300 border-transparent border-b-2
                  "
                >
                  Home
                </a>
              </li>
              <div
                :class="!submenuOpen ? 'hidden lg:block' : 'block' "
                class="
                  relative
                  lg:absolute lg:w-[250px]
                  top-full
                  lg:top-[115%]
                  left-0
                  rounded-lg
                  lg:shadow-lg
                  px-4
                  lg:p-4 lg:opacity-0 lg:invisible
                  group-hover:opacity-100
                  lg:group-hover:visible lg:group-hover:top-full
                  bg-white
                  transition-all
                "
              >
                <a
                  href="javascript:void(0)"
                  class="
                    block
                    text-sm
                    font-medium
                    text-body-color
                    rounded
                    hover:bg-primary hover:text-white
                    py-[10px]
                    px-4
                  "
                >
                  Creative Homepage
                </a>
                <a
                  href="javascript:void(0)"
                  class="
                    block
                    text-sm
                    font-medium
                    text-body-color
                    rounded
                    hover:bg-primary hover:text-white
                    py-[10px]
                    px-4
                  "
                >
                  Business Homepage
                </a>
                <a
                  href="javascript:void(0)"
                  class="
                    block
                    text-sm
                    font-medium
                    text-body-color
                    rounded
                    hover:bg-primary hover:text-white
                    py-[10px]
                    px-4
                  "
                >
                  Corporate Homepage
                </a>
                <a
                  href="javascript:void(0)"
                  class="
                    block
                    text-sm
                    font-medium
                    text-body-color
                    rounded
                    hover:bg-primary hover:text-white
                    py-[10px]
                    px-4
                  "
                >
                  Personal Homepage
                </a>
              </div>
              <li>
                <a
                  href="javascript:void(0)"
                  class="
                    text-base
                    font-medium
                    text-dark
                    lg:text-white
                    hover:text-primary
                    py-2
                    lg:inline-flex
                    flex
                    lg:ml-12
                  "
                >
                  Platform
                </a>
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  class="
                    text-base
                    font-medium
                    text-dark
                    lg:text-white
                    hover:text-primary
                    py-2
                    lg:inline-flex
                    flex
                    lg:ml-12
                  "
                >
                  Services
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="sm:flex justify-end hidden pr-16 lg:pr-0">
          <a
            href="javascript:void(0)"
            class="
              text-base
              font-medium
              text-white
              hover:text-primary
              py-3
              px-7
            "
          >
            Login
          </a>
          <a
            href="javascript:void(0)"
            class="
              text-base
              font-medium
              text-dark
              bg-white
              rounded-lg
              py-3
              px-7
              hover:bg-opacity-90
            "
          >
            Book a demo
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- ====== Navbar Section End -->
