<div class="w-full mx-auto px-4" x-show="getstartedCalendarOpen" style="display: none">
      <div class="w-full h-full" id="booking-page"></div>
      <script type="text/javascript">
        var getstarted_loaded = false;

        function getstarted() {
          if (!getstarted_loaded) {
            getstarted_loaded = true;

            // Start embed script

            window.SavvyCal=window.SavvyCal||function(){(SavvyCal.q=SavvyCal.q||[]).push(arguments)};

            eval('var a=document.createElement(\'script\');a.src=\'https://embed.savvycal.com/v1/embed.js\';document.head.appendChild(a)')

            SavvyCal('init');
            SavvyCal('inline', {
              link: 'glitchsecure/demo',
              selector: '#booking-page',
              email: localStorage.getItem('contact-email'),
              displayName: localStorage.getItem('contact-firstname') + ' ' + localStorage.getItem('contact-lastname'),
              questions: {0: localStorage.getItem('contact-companyname'), 1: localStorage.getItem('contact-inquiry')},
              theme: localStorage.getItem('theme')
            });

            // End embed script
          }


          // Send POST request with form data
          let xhr = new XMLHttpRequest();
                    xhr.open("POST", "https://submit.glitchsecure.com/getstarted.php");
                    xhr.setRequestHeader("Accept", "application/json");
                    xhr.setRequestHeader("Content-Type", "application/json");

                    xhr.onload = () => console.log(xhr.responseText);

                    let data = {
                     name: localStorage.getItem('contact-firstname') + ' ' + localStorage.getItem('contact-lastname'), // Prefill Name
                     email: localStorage.getItem('contact-email'), // Prefill Email
                     company: localStorage.getItem('contact-companyname'), // Prefill Company name
                     inquiry: localStorage.getItem('contact-inquiry'), // Prefill Inquiry
                    };

                    xhr.send(JSON.stringify(data));

        }
      </script>
    </div>
