<div class="bg-white dark:bg-glitchsecure-purple-medium">
  <div class="mx-auto mb-12 py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-6">
      <h2 class="text-neutral-900 dark:text-neutral-200 text-3xl font-extrabold tracking-tight sm:text-4xl">{{ page.team-title }}</h2>
      <h3 class="text-neutral-900 dark:text-neutral-200 text-xl font-medium tracking-tight sm:text-2xl">{{ page.team-subtitle }}</h3>
        <ul role="list" class="-mt-12 space-y-6 divide-y divide-neutral-200 xl:col-span-3">
          <li class="flex flex-col gap-10 pt-12 sm:flex-row">
            <img class="aspect-1 w-52 flex-none rounded-2xl object-cover" src="/assets/img/about/team/jade.jpg" alt="">
            <div class="max-w-5xl flex-auto">
              <h3 class="text-neutral-900 dark:text-neutral-100 text-2xl">Jade Null<span class="text-lg"> / They/Them</h3>
              <p class="text-neutral-800 dark:text-neutral-200 text-base">Founder / Principal Security Consultant / Developer</p>
              <p class="mt-6 text-neutral-600 dark:text-neutral-200 text-xl">{{ page.founder-bio }}</p>
            </div>
          </li>
        </ul>
        {% if page.team-title2 %}
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-3xl font-bold tracking-tight text-neutral-900 dark:text-neutral-200 sm:text-4xl">{{ page.team-title2 }}</h2>
            <p class="mt-6 text-lg leading-8 text-neutral-900 dark:text-neutral-200">{{ page.team-subtitle2 }}</p>
          </div>
          <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-2 gap-x-8 gap-y-16 text-center sm:grid-cols-3 md:grid-cols-4 lg:mx-0 lg:max-w-none lg:grid-cols-5 xl:grid-cols-6">
            {% for item in site.data.about.team %}
            <li>
              <img class="mx-auto h-24 w-24 rounded-2xl shadow-lg" src="{{ item.picture }}" alt="">
              <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-neutral-900 dark:text-neutral-100">{{ item.name }} <span class="text-sm font-light">{% if item.pronouns %} / {{ item.pronouns }}{% endif %}</span></h3>
              <p class="text-sm leading-6 text-neutral-800 dark:text-neutral-200">{{ item.title }}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
    </div>
  </div>
</div>
