<div class="w-full max-w-full mb-16 sm:w-1/2 px-4 lg:w-1/3 flex flex-col">
  <img src="/assets/img/blog/call-to-action.jpg" alt="Card img" class="object-cover object-center w-full h-48" />
  <div class="flex flex-grow">
    <div class="triangle w-0 h-0 border-solid border-r-glitchsecure-purple dark:border-r-glitchsecure-purple-dark border-t-transparent border-b-transparent border-l-transparent border-t-0 border-r-[20px] border-b-[20px] border-l-0"></div>
    <div class="flex flex-col justify-between px-4 py-6 bg-white dark:bg-neutral-900 border border-neutral-400 dark:border-neutral-900">
      <div>
        <span class="inline-flex text-center text-xs text-neutral-200 py-1 px-3 rounded-md bg-glitchsecure-purple">Advertisment</span>
          <a
            href="/demo/"
            class="block my-4 text-2xl font-bold leading-tight hover:underline hover:text-glitchsecure-purple dark:text-neutral-200"
          >
            Are you ready to get h̴a̷c̷k̴e̶d̶?
          </a>
        <p class="mb-4 dark:text-neutral-400">
          Get expert hackers on your side. Learn how we can start improving your security posture together.
        </p>
      </div>
      <div>
        <a href="/demo/" class="inline-block pb-1 mt-2 text-base font-black text-glitchsecure-purple uppercase border-b border-transparent hover:border-glitchsecure-purple">Book a demo -></a>
        </div>
        <footer class="flex items-center mt-4">
            <img class="rounded-full flex-shrink-0 mr-4" src="/assets/img/about/team/glitchsecure.jpg" width="40" height="40">
            <div>
                <span class="font-medium text-neutral-700 dark:text-neutral-500">GlitchSecure Team</span>
                <br>
                <span class="text-neutral-500 dark:text-neutral-400">Today · 25 MINUTE DEMO</span>
            </div>
        </footer>
      </div>
    </div>
  </div>
