
<section class="flex flex-col justify-center max-w-6xl min-h-screen px-4 py-10 mx-auto sm:px-6">
  <div class="flex flex-wrap -mx-4">
    {% if paginator.page == 1 %}
    {% for post in paginator.posts offset:1 %}
    {% include blog/post-card.html-%}
      {% endfor %}
      {% include blog/post-card-cta.html-%}
      {% endif %}
      {% if paginator.page > 1 %}
      {% for post in paginator.posts %}
      {% include blog/post-card.html-%}
        {% endfor %}
        {% endif %}
    </div>

        <div class="mx-auto mb-12 pagination dark:text-neutral-200">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="mr-8 hover:underline">
            <- Previous
          </a>
        {% endif %}
        <span class="font-light">
          {{ paginator.page }} of {{ paginator.total_pages }}
        </span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="ml-10 hover:underline">Next -></a>
        {% else %}
        {% endif %}
      </div>

  </section>
