---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

[x-cloak] {
  display: none !important;
}

.navbarTogglerActive > span:nth-child(1) {
  transform: rotate(45deg);
  top: 7px;
}

.navbarTogglerActive > span:nth-child(2) {
  opacity: 0;
}

.navbarTogglerActive > span:nth-child(3) {
  top: -8px;
  transform: rotate(135deg);
}

.tippy-box {
  @apply relative bg-white rounded-md py-2 px-3 shadow-lg text-black text-xs w-52;
}

.tippy-box::before {
  content: '';
  @apply bg-white h-2 w-2 rotate-45 absolute left-1/2 -bottom-1 -ml-1;
}

.tippy-box,
.tippy-content {
  @apply transition-all;
}

.tippy-box[data-state='visible'],
.tippy-box[data-state='visible'] .tippy-content {
  @apply opacity-100;
}

.tippy-box[data-state='hidden'],
.tippy-box[data-state='hidden'] .tippy-content {
  @apply opacity-0;
}


.typeText::after {
  content: "|";
  /* animation: blink 1s step-end infinite; */
  animation:  none;
}

.showAnim.typeText::after {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-Thin.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-Thin.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-ThinItalic.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-ThinItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-ExtraLight.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-ExtraLight.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-ExtraLightItalic.woff2?v=3.19")
      format("woff2"),
    url("/assets/fonts/inter/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-Light.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-Light.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-LightItalic.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-LightItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-Italic.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-Medium.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-MediumItalic.woff2?v=3.19")
      format("woff2"),
    url("/assets/fonts/inter/Inter-MediumItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-SemiBold.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-SemiBoldItalic.woff2?v=3.19")
      format("woff2"),
    url("/assets/fonts/inter/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-BoldItalic.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-BoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-ExtraBold.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-ExtraBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-ExtraBoldItalic.woff2?v=3.19")
      format("woff2"),
    url("/assets/fonts/inter/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-Black.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-Black.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("/assets/fonts/inter/Inter-BlackItalic.woff2?v=3.19") format("woff2"),
    url("/assets/fonts/inter/Inter-BlackItalic.woff?v=3.19") format("woff");
}
