
<div class="py-12 bg-white dark:bg-glitchsecure-purple-medium">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <h2 class="text-base text-glitchsecure-purple font-semibold tracking-wide uppercase">{{ page.subtitle }}</h2>
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-neutral-900 dark:text-neutral-200 sm:text-4xl">{{ page.title }}</p>
      <p class="mt-4 text-xl text-neutral-500 dark:text-neutral-300 lg:mx-auto">{{ page.description }}</p>
    </div>

    <div class="mt-10">
      <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
        {% for item in site.data.security.features.sections %}
        <div>
        <dt>
          <div class="flex items-center justify-center h-32 w-32 rounded-md bg-transparent text-neutral-900 dark:text-neutral-200">
            <!-- Heroicon name: outline/globe-alt -->
            <svg class="h-32 w-32 -ml-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="{{ item.icon }}" />
            </svg>
          </div>
          <p class="mt-5 mb-2 text-xl leading-6 font-medium text-neutral-900 dark:text-neutral-200">{{ item.title }}</p>
        </dt>
        {% for entry in item.list %}
          <li class="ml-5 text-neutral-700 dark:text-neutral-200">{{ entry.item }}</li>
        {% endfor %}
        <dd class="mt-2 text-base text-neutral-600 dark:text-neutral-300">{{ item.subtitle }}</dd>
      </div>
      {% endfor %}
      </dl>
    </div>
    <div class="text-center text-neutral-800 dark:text-neutral-300 mt-16">

    </div>
  </div>
</div>
