<div class="bg-white dark:bg-glitchsecure-purple-medium pt-16">
  <div class="mx-auto px-4 max-w-7xl sm:px-6 lg:px-8">
    <div class="space-y-12">
      <h2 class="text-neutral-900 dark:text-neutral-200 text-3xl font-extrabold tracking-tight sm:text-4xl">
        {{ page.company-title }} <glitch class="z-10 layers" data-text="{{ page.company-title-glitch }}"><span>{{ page.company-title-glitch }}</span></glitch>
      </h2>
      <p class="text-neutral-900 dark:text-neutral-200 text-lg font-medium tracking-tight sm:text-xl">
        {{ page.company-text-1 }}
        <br><br>
        {{ page.company-text-2 }}
        <br><br>
        {{ page.company-text-3 }}
        <br><br>
        {{ page.company-text-4 }}
      </p>
    </div>
  </div>
</div>
