<div class="bg-white dark:bg-glitchsecure-purple-medium pt-16">
  <div class="mx-auto px-4 max-w-7xl sm:px-6 lg:px-8">
    <div class="space-y-12">
      <h2 class="text-neutral-900 dark:text-neutral-200 text-3xl font-extrabold tracking-tight sm:text-4xl">
        {{ page.founders-title }} <glitch class="z-10 layers" data-text="{{ page.founders-title-glitch }}"><span>{{ page.founders-title-glitch }}</span></glitch>
      </h2>
      <ul role="list" class="space-y-12 sm:-mt-8 sm:space-y-0 sm:divide-y sm:divide-gray-200 lg:gap-x-8 lg:space-y-0">
        <li class="sm:py-8">
          <div class="space-y-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-6 sm:space-y-0">
            <div class="h-0 aspect-w-10 aspect-h-9 sm:aspect-w-10 sm:aspect-h-10">
              <img class="object-cover shadow-lg rounded-lg" src="/assets/img/about/team/jade.jpg" alt="A pixelated photo of Jade">
            </div>
            <div class="sm:col-span-2">
              <div class="space-y-4">
                <div class="space-y-1 text-xl font-medium leading-6">
                  <h3 class="text-neutral-900 dark:text-neutral-100">
                    Jade Null [<glitch class="z-10 layers" data-text="GlitchWitch"><span>GlitchWitch</span></glitch>] <span class="text-sm font-light pl-1">({{ page.jade-pronouns }})</span>
                  </h3>
                  <p class="text-neutral-800 dark:text-neutral-200 text-base">{{ page.jade-title }}</p>
                </div>
                <div class="text-xl">
                  <p class="text-neutral-900 dark:text-neutral-200 text-lg tracking-tight sm:text-xl">
                    {{ page.jade-bio }}
                    <br>
                    <a class="hover:underline " href="https://linkedin.com/in/GlitchWitch"> Connect on LinkedIn -> </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
