<div
  x-data="
    {
      getstartedOpen: false,
    }
  ">
  <div
    class="relative overflow-hidden bg-white pb-32 dark:bg-glitchsecure-purple-medium"
  >
    <div class="mt-24">
      <div
        class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8"
      >
        <div
          class="mx-auto max-w-xl px-4 sm:px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:py-32 lg:px-0"
        >
          <div>
            <div class="mt-6">
              <h2
                class="inline-block border-b border-gray-200 pb-4 text-3xl font-extrabold tracking-tight text-neutral-700 dark:text-neutral-200"
              >
                {{ page.about-feature-title1 }}
              </h2>
              <p class="mt-4 text-lg text-neutral-600 dark:text-neutral-300">
                {{ page.about-feature-subtitle1 }}
              </p>
              {% if page.about-feature-button-1 %}
              <a
                href="{{ page.about-feature-link1 }}"
                @click="{{ page.about-feature-click1 }}"
                class="mt-6 mb-3 mr-1 inline-flex rounded-lg bg-neutral-800 py-3 px-6 text-base font-medium text-neutral-200 transition hover:bg-neutral-900 dark:bg-neutral-200 dark:text-neutral-700 dark:hover:bg-neutral-300"
              >
                {{ page.about-feature-button1 }}
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:col-start-1 lg:mt-0">
          <div
            class="-ml-48 pr-4 sm:pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0"
          >
            <img
              class="hidden w-full rounded-xl lg:absolute lg:right-0 lg:block lg:h-full lg:w-auto lg:max-w-none"
              src="{{ page.about-feature-image1 }}"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
{% include getstarted/modal.html %}
</div>
