<div class="bg-white dark:bg-glitchsecure-purple-medium pt-16">
  <div class="mx-auto px-4 max-w-7xl sm:px-6 lg:px-8">
    <div class="space-y-4">
      <hr>
      <div class="space-y-4">
        <blockquote class="text-xl font-normal leading-8 tracking-tight text-neutral-900 dark:text-neutral-200 sm:text-2xl sm:leading-9 italic">
          “{{ page.testimonial-content-1 }}”
        </blockquote>
        <img class="h-12 w-12 rounded-full bg-neutral-50 border-2" src="/assets/img/about/testimonials/{{ page.testimonial-image-1 }}" alt="{{ page.testimonial-name-1 }}">
        <div class="text-sm leading-6">
          <div class="font-semibold text-neutral-900 dark:text-neutral-200">{{ page.testimonial-name-1 }}</div>
          <div class="mt-0.5 text-neutral-600 dark:text-neutral-400">{{ page.testimonial-title-1 }}{% if page.testimonial-company-1 %}, {{ page.testimonial-company-1 }}{% endif %}</div>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>