<div class="relative bg-glitchsecure-purple pb-12 dark:bg-glitchsecure-purple-dark">
  <div class="mx-auto max-w-4xl py-12 px-4 sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-16 lg:px-8 mb-4">
    <h2 class="text-5xl font-extrabold text-white sm:text-6xl">
      <span class="block">{{ page.investors-title }}</span><span class="sr-only">TinySeed</span>
      <span class="block font-medium text-base text-neutral-300"></span>
    </h2>
    <div class="mt-24 flex lg:mt-16 lg:flex-shrink-0">
      <a href="https://tinyseed.com/latest/fall-2022-launch"><img class="h-24 -mt-16" src="/assets/img/about/investors/tinyseed.png" alt="TinySeed"></a>
    </div>
  </div>
</div>
