<dl class="mt-16 grid grid-cols-1 gap-x-8 gap-y-12 sm:mt-20 sm:grid-cols-2 sm:gap-y-16 lg:mt-28 lg:grid-cols-4">
    <div class="flex flex-col-reverse gap-y-3 border-l border-neutral-400/20 pl-6">
      <dt class="text-base leading-7 text-neutral-700">{{ page.stats-title-1 }}</dt>
      <dd class="text-3xl font-semibold tracking-tight text-neutral-900">{{ page.stats-number-1 }}</dd>
    </div>
    <div class="flex flex-col-reverse gap-y-3 border-l border-neutral-400/20 pl-6">
      <dt class="text-base leading-7 text-neutral-700">{{ page.stats-title-2 }}</dt>
      <dd class="text-3xl font-semibold tracking-tight text-neutral-900">{{ page.stats-number-2 }}</dd>
    </div>
    <div class="flex flex-col-reverse gap-y-3 border-l border-neutral-400/20 pl-6">
      <dt class="text-base leading-7 text-neutral-700">{{ page.stats-title-3 }}</dt>
      <dd class="text-3xl font-semibold tracking-tight text-neutral-900">{{ page.stats-number-3 }}</dd>
    </div>
    <div class="flex flex-col-reverse gap-y-3 border-l border-neutral-400/20 pl-6">
      <dt class="text-base leading-7 text-neutral-700">{{ page.stats-title-4 }}</dt>
      <dd class="text-3xl font-semibold tracking-tight text-neutral-900">{{ page.stats-number-4 }}</dd>
    </div>
  </dl>
