<div class="bg-glitchsecure-purple dark:bg-glitchsecure-purple-dark pt-12 pb-24 sm:pt-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-4xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold text-neutral-200 dark:text-neutral-200 sm:text-4xl">{{ page.stats-title }}</h2>
      <p class="mt-3 text-xl text-neutral-100 dark:text-neutral-400 sm:mt-4">{{ page.stats-subtitle }}</p>
    </div>
  </div>
  <div class="mt-10 pb-12 sm:pb-16">
    <div class="relative">
      <div class="absolute inset-0 h-1/2 glitchsecure-purple"></div>
      <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-4xl mx-auto">
          <dl class="rounded-lg bg-white dark:bg-neutral-900 shadow-lg sm:grid sm:grid-cols-3">
            <div class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
              <dt class="order-2 mt-2 text-lg leading-6 font-medium text-neutral-500">{{ page.stats-stat1-title }}</dt>
              <dd class="order-1 text-5xl font-extrabold text-glitchsecure-purple dark:text-neutral-200">{{ page.stats-stat1-number }}</dd>
            </div>
            <div class="flex flex-col border-t border-b border-gray-100 p-6 text-center sm:border-0 sm:border-l sm:border-r">
              <dt class="order-2 mt-2 text-lg leading-6 font-medium text-neutral-500">{{ page.stats-stat2-title }}</dt>
              <dd class="order-1 text-5xl font-extrabold text-glitchsecure-purple dark:text-neutral-200">{{ page.stats-stat2-number }}</dd>
            </div>
            <div class="flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
              <dt class="order-2 mt-2 text-lg leading-6 font-medium text-neutral-500">{{ page.stats-stat3-title }}</dt>
              <dd class="order-1 text-5xl font-extrabold text-glitchsecure-purple dark:text-neutral-200">{{ page.stats-stat3-number }}</dd>
            </div>
          </dl>
        </div>
      </div>
      {% if page.url == "/about/" %}
      {% else %}
      <div class="relative mx-auto mt-8 -mb-2 text-center"><a href="/about/" class="inline-flex items-center justify-center rounded-sm border border-transparent bg-white px-5 py-3 text-base font-medium text-neutral-900 hover:bg-neutral-100">Meet the hackers -></a></div>
      {% endif %}
    </div>
  </div>
</div>
