<div class="bg-white dark:bg-glitchsecure-purple-medium">
  <div class="mx-auto mb-12 py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12">
      <h2 class="text-neutral-900 dark:text-neutral-200 text-3xl font-extrabold tracking-tight sm:text-4xl">{{ page.team-title }}</h2>
      <h3 class="text-neutral-900 dark:text-neutral-200 text-xl font-medium tracking-tight sm:text-2xl">{{ page.team-subtitle }}</h3>
      <h2 class="text-neutral-900 dark:text-neutral-200 text-3xl font-extrabold tracking-tight sm:text-4xl">{{ page.founder-title }}</h2>

            <div class="">
              <ul role="list" class="space-y-12 sm:-mt-8 sm:space-y-0 sm:divide-y sm:divide-neutral-200 lg:gap-x-8 lg:space-y-0">
                <li class="sm:py-8">
                  <div class="space-y-4 sm:grid sm:grid-cols-3 sm:items-start sm:gap-6 sm:space-y-0">
                    <div class="h-0 aspect-w-10 aspect-h-9 sm:aspect-w-10 sm:aspect-h-10">
                      <img class="object-cover shadow-lg rounded-lg" src="/assets/img/about/team/jade.jpg" alt="">
                    </div>
                    <div class="sm:col-span-2">
                      <div class="space-y-4">
                        <div class="space-y-1 text-xl font-medium leading-6">
                          <h3 class="text-neutral-900 dark:text-neutral-100">Jade Null (Gli͢t́ch́W̛i͠tc̷h̸)<span class="text-base"> / They/Them</h3>
                          <p class="text-neutral-800 dark:text-neutral-200 text-base">Founder / Principal Security Consultant / Developer</p>
                        </div>
                        <div class="text-xl">
                          <p class="text-neutral-600 dark:text-neutral-200">{{ page.founder-bio }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            {% if page.team-title2 %}
            <div class="mx-auto max-w-7xl">
              <div class="mx-auto max-w-2xl lg:mx-0">
                <h2 class="text-3xl font-bold tracking-tight text-neutral-900 dark:text-neutral-200 sm:text-4xl">{{ page.team-title2 }}</h2>
                <p class="mt-6 text-lg leading-8 text-neutral-900 dark:text-neutral-200">{{ page.team-subtitle2 }}</p>
              </div>
              <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-2 gap-x-8 gap-y-16 text-center sm:grid-cols-3 md:grid-cols-4 lg:mx-0 lg:max-w-none lg:grid-cols-5 xl:grid-cols-6">
                {% for item in site.data.about.team %}
                <li>
                  <img class="mx-auto h-24 w-24 rounded-2xl shadow-lg" src="{{ item.picture }}" alt="">
                  <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-neutral-900 dark:text-neutral-100">{{ item.name }} <span class="text-sm font-light">{% if item.pronouns %} / {{ item.pronouns }}{% endif %}</span></h3>
                  <p class="text-sm leading-6 text-neutral-800 dark:text-neutral-200">{{ item.title }}</p>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
    </div>
  </div>
</div>
