<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="h-full"> {%- include head.html -%}

<body class="h-full bg-white dark:bg-glitchsecure-purple-medium" x-data="
  {
    getstartedFormOpen: true,
    getstartedCalendarOpen: false
  }
">
  <div class="relative bg-gradient-to-br from-hero-gradient-left via-glitchsecure-purple to-hero-gradient-right h-full dark:bg-gradient-to-br dark:from-glitchsecure-purple-dark dark:via-hero-gradient-middle-dark dark:to-hero-gradient-right-dark relative mx-auto h-full w-full">
    <img
      class="absolute block h-full w-full object-cover object-center opacity-[0.2] dark:hidden"
      src="{{ site.url }}/assets/img/home/herobg-light.png"
    />
    <img
      class="absolute hidden h-full w-full object-cover object-center opacity-[0.2] dark:block"
      src="{{ site.url }}/assets/img/home/herobg-dark.png"
    />
      {% include getstarted/nav.html %}
      {% include getstarted/form.html %}
      {% include getstarted/calendar.html %}
  </div>
</body>

</html>
