---
layout: default
---
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-medium-purple">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <p class="mt-1 text-4xl font-extrabold text-gray-200 sm:text-5xl sm:tracking-tight lg:text-6xl">{{ page.title | escape }}</p>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-300">{{ page.tagline | escape }}</p>
    </div>
  </div>
</div>
<div class="relative py-16 bg-medium-purple overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="prose prose-lg text-gray-200 mx-auto">
      {{ content }}
    </div>
  </div>
</div>
