---
layout: default
---
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-medium-purple">
  <div class="max-w-7xl mx-auto pt-16 px-4 sm:pt-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <p class="mt-1 text-4xl font-extrabold text-gray-200 sm:text-5xl sm:tracking-tight lg:text-6xl">{{ page.title | escape }}</p>
      <p class="max-w-xl mt-5 mx-auto text-xl text-gray-300">{{ page.tagline | escape }}</p>
    </div>
  </div>
</div>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="grid place-items-center h-screen">
      <object data="{{ page.pdf-link }}" width="800" height="1000"></object>
  </div>
</div>
