---
layout: default
---
{%- include divider-primary.html -%}
<div class="flow-root bg-white dark:bg-glitchsecure-purple-medium">
  <div class="relative -mt-48 -mb-16">
    <div class="relative z-10 mx-auto max-w-7xl px-6 lg:px-8">
      <div class="relative w-3/4 mx-auto mt-8">
      <img src="{% if page.image.feature %}/assets/img/{{ page.image.feature }}{% else %}/assets/img/blog/default-feature.jpg{% endif %}" alt="Card img" class="object-cover object-center mx-auto rounded-xl" />
      {% if page.image.credit %}
      <span class="absolute text-xs bg-black opacity-75 px-2 text-neutral-500 bottom-5 right-5">
        Image credit:
        {% if page.image.creditlink %}<a href="{{ page.image.creditlink }}" class="hover:underline">{{ page.image.credit }}</a>
          {% else %}
          {{ page.image.credit }}
        {% endif %}
      </span>
      {% endif %}
      </div>
      </div>
      </div>
      </div>
<article
  class="relative overflow-hidden bg-white dark:bg-glitchsecure-purple-medium py-24 font-sans md:py-28"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="relative px-4 sm:px-6 lg:px-8">
    <div class="mx-auto mb-4 max-w-prose text-lg">
      <h1
        class="sr-only"
        itemprop="name headline"
      >
        {{ page.title | escape }}
      </h1>
      <div class="flex items-center mt-4">
          <img class="rounded-full flex-shrink-0 mr-4" src="/assets/img/about/team/{{ page.author | truncatewords:1 | slugify}}.jpg" width="40" height="40" alt="{{ page.author }} 04">
          <div>
              <span class="font-medium text-neutral-700 dark:text-neutral-500">{{ page.author }}</span>
              <br>
              <span datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="text-neutral-500 dark:text-neutral-400">{{ page.date | date: "%b %-d, %Y" }}</span>
              <span class="text-neutral-500 dark:text-neutral-400"> · {% assign words = content | number_of_words %} {% if words < 360 %} 1 MINUTE READ {% else %} {{ words | divided_by:180 }} MINUTE READ {% endif %}</span>
          </div>
      </div>
    </div>


    <p class="mx-auto mb-2 max-w-prose text-lg uppercase text-gray-500">

      <span class="font-light text-xs">

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%}

        {%- if page.date-updated -%} Last Updated: {%- assign mdate = page.date-updated |
        date_to_xmlschema -%}
        <time
          class="dt-modified text-xs"
          datetime="{{ mdate }}"
          itemprop="dateModified"
        >
          {{ mdate | date: date_format }}
        </time>
        {%- endif -%}
      </span>
    </p>
  </header>

  <div
    class="prose prose-lg mx-auto px-4 pt-4 text-neutral-700 dark:text-neutral-200 md:px-0"
    itemprop="articleBody"
  >
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
{%- include divider-secondary.html -%}
{% include cta.html %}
