---
layout: default
---

<div class="pb-24 lg:pb-32" x-data="{
  getstartedOpen: false,
  openGetStarted() {
    localStorage.clear()
    this.getstartedOpen = true
    plausible('Get Started Button', {props: {method: this.selectedPlanKey}});
  },
  plans: [{% for plan in site.data.pricing.plans.plans %}`{{ plan.key }}`, {% endfor %}],
  selectedPlanKey: '{{ site.data.pricing.plans.plans[0].key }}',
  isSelected(planKey) { return this.selectedPlanKey === planKey },
  get selectedPlan() {
    return this.plans.filter(plan => plan.key === this.selectedPlanKey)[0]
  },
}">

  {% include divider-primary.html %}
  {% include pricing/hero.html %}
  {% include pricing/plans-tabs.html %}
  {% include pricing/features.html %}
  {% include pricing/plans-table.html %}
  {% include pricing/addons.html %}
  
  <div class="relative bg-gray-50 mt-24 lg:mt-32 pb-8">
    
    <img class="absolute inset-0 h-full w-full object-cover object-center opacity-[0.2]" src="/assets/img/home/herobg-dark.png">

    {% include home/client-list.html %}

  </div>

  {% include pricing/faqs.html %}

  {% include getstarted/modal.html %}

</div>

<div class="pb-32"></div>

{% include divider-secondary.html %}
{% include cta.html %}
