---
layout: default
---

<div x-data="{
  getstartedOpen: false,
  openGetStarted() {
    localStorage.clear()
    this.getstartedOpen = true
    plausible('Get Started Button', {props: {method: this.selectedPlanKey}});
  },

  plans: [{% for plan in site.data.pricing.plans %}{
    key: `{{ plan.key }}`,
    base_credits: {{ plan.base_credits }},
    max_credits: {{ plan.max_credits }},
    features: [{% for feature in plan.features %}{
      key: `{{ feature.key }}`,
      {% if feature.increment %}
      base: {{ feature.base }},
      increment: {{ feature.increment }},
      max: {{ feature.max }},
      {% endif %}
    },
    {% endfor %}],
  },{% endfor %}],

  selectedPlanKey: '{{ site.data.pricing.plans[0].key }}',
  
  selectPlan(planKey) { 
    this.selectedPlanKey = planKey
    this.creditCounter = this.selectedPlan.base_credits
  },

  creditCounter: {{ site.data.pricing.plans[0].base_credits }},

  creditCounterIncrement() { 
    const newValue = this.creditCounter + 1
    if (this.selectedPlan.max_credits >= newValue) {
      this.creditCounter = newValue
    }
  },

  creditCounterDecrement() {
    const newValue = this.creditCounter - 1
    if (this.selectedPlan.base_credits <= newValue) {
      this.creditCounter = newValue
    }
  },

  incrementingFeatureValue(featureKey) {
    const plan = this.selectedPlan,
          counter = this.creditCounter,
          incrFeature = plan.features.filter(f => f.key === featureKey)[0] || false

    if (!incrFeature) {
      return null
    }

    let value = 0,
        incrementCount = counter - plan.base_credits

    if (incrementCount <= 0) {
      value = incrFeature.base
    }

    if (incrementCount > 0) {
      value = incrFeature.base + (incrFeature.increment * incrementCount)
    }
    
    if (value <= incrFeature.base) {
      value = incrFeature.base
    } else if (value >= incrFeature.max) {
      value = incrFeature.max
    }

    return value
  },

  isSelectedPlan(planKey) {
    return this.selectedPlanKey === planKey
  },
  isSelectedPlanFeature(featureKey) {
    return this.selectedPlan.features.map(f => f.key).includes(featureKey)
  },
  get selectedPlan() {
    return this.plans.filter(plan => plan.key === this.selectedPlanKey)[0]
  },
  get canDecrement() {
    return (this.creditCounter - 1) >= this.selectedPlan.base_credits
  },
  get canIncrement() { 
    return (this.creditCounter + 1) <= this.selectedPlan.max_credits
  },
}">

  {% include divider-primary.html %}
  {% include pricing/hero.html %}
  {% include pricing/plans-tabs.html %}
  {% include pricing/divider-secondary.html %}
  {% include pricing/featurettes.html %}
  {% include divider-primary.html %}
  {% include getstarted/modal.html %}

</div>

{% include pricing/faqs.html %}

{%- include divider-secondary.html -%}
{% include about/stats.html %}
{%- include divider-primary.html -%}

{% include about/testimonials.html %}
{% include divider-secondary.html %}
{% include cta.html %}