<figure class="w-full h-32 -mt-32 bg-white" style="clip-path: polygon(0% 100%, 100% 40%, 101% 101%, 0% 100%);">
</figure>
<div class="relative bg-white pt-16">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <p class="text-xl inline-block text-base font-semibold uppercase text-neutral-700 tracking-wider border-b border-neutral-700 pb-4">{{ page.client-list-title}}</p>
    <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-4 lg:grid-cols-8 lg:mt-8">
      <div class="col-span-1 flex justify-center p-8">
        <img class="max-h-12 opacity-75" src="{{ site.url }}/assets/img/clients/adobe-dark.png" alt="Adobe">
      </div>
      <div class="col-span-1 flex justify-center p-8">
        <img class="max-h-12 opacity-75" src="{{ site.url }}/assets/img/clients/compass-dark.png" alt="Compass">
      </div>
      <div class="col-span-1 flex justify-center p-8">
        <img class="max-h-12 opacity-75" src="{{ site.url }}/assets/img/clients/dropbox-dark.png" alt="Dropbox">
      </div>
      <div class="col-span-1 flex justify-center p-8">
        <img class="max-h-12 opacity-75" src="{{ site.url }}/assets/img/clients/shaw-dark.png" alt="Shaw">
      </div>
      <div class="col-span-1 flex justify-center p-8">
        <img class="max-h-12 opacity-75" src="{{ site.url }}/assets/img/clients/textnow-dark.png" alt="TextNow">
      </div>
      <div class="col-span-1 flex justify-center p-8">
        <img class="max-h-12 opacity-75" src="{{ site.url }}/assets/img/clients/titan-dark.png" alt="Titanvest">
      </div>
      <div class="col-span-1 flex justify-center p-8">
        <img class="max-h-12 opacity-75" src="{{ site.url }}/assets/img/clients/twilio-dark.png" alt="Twilio">
      </div>
      <div class="col-span-1 flex justify-center p-8">
        <img class="max-h-12 opacity-75" src="{{ site.url }}/assets/img/clients/zoom-dark.png" alt="Zoom">
      </div>


    </div>
  </div>
</div>
