<div class="relative bg-white pt-16 dark:bg-glitchsecure-purple-medium">
  <div class="mx-auto max-w-7xl px-4 text-center sm:px-6 lg:px-8">
    <p
      class="inline-block border-b border-neutral-700 pb-4 text-xl text-base font-semibold uppercase tracking-wider text-neutral-700 dark:border-neutral-200 dark:text-neutral-200"
    >
      {{ page.client-list-title}}
    </p>
    <div
      class="mt-6 grid grid-cols-2 gap-0.5 text-white md:grid-cols-4 lg:mt-8 lg:grid-cols-8"
    >
      <div class="col-span-1 flex justify-center p-8">
        <img
          class="max-h-12 opacity-75"
          src="{{ site.url }}/assets/img/clients/adobe.svg"
          alt="Adobe"
        />
      </div>
      <div class="col-span-1 flex justify-center p-8">
        <img
          class="max-h-12 opacity-75"
          src="{{ site.url }}/assets/img/clients/compass.svg"
          alt="Compass"
        />
      </div>
      <div class="col-span-1 flex justify-center p-8">
        <img
          class="max-h-12 opacity-75"
          src="{{ site.url }}/assets/img/clients/dropbox.svg"
          alt="Dropbox"
        />
      </div>
      <div class="col-span-1 flex justify-center p-8">
        <img
          class="max-h-12 opacity-75"
          src="{{ site.url }}/assets/img/clients/shaw.svg"
          alt="Shaw"
        />
      </div>
      <div class="col-span-1 flex justify-center p-8">
        <img
          class="max-h-12 opacity-75"
          src="{{ site.url }}/assets/img/clients/textnow.svg"
          alt="TextNow"
        />
      </div>
      <div class="col-span-1 flex justify-center p-8">
        <img
          class="max-h-12 opacity-75"
          src="{{ site.url }}/assets/img/clients/titan.svg"
          alt="Titanvest"
        />
      </div>
      <div class="col-span-1 flex justify-center p-8">
        <img
          class="max-h-12 opacity-75"
          src="{{ site.url }}/assets/img/clients/twilio.svg"
          alt="Twilio"
        />
      </div>
      <div class="col-span-1 flex justify-center p-8">
        <img
          class="max-h-12 opacity-75"
          src="{{ site.url }}/assets/img/clients/zoom.svg"
          alt="Zoom"
        />
      </div>
    </div>
  </div>
</div>
