<!-- ====== Hero Section Start -->
<div
  x-data="
    {
      videoOpen: false,
      getstartedOpen: false
    }
  "
  class="relative bg-gradient-to-br from-hero-gradient-left via-glitchsecure-purple to-hero-gradient-right pb-32 dark:bg-gradient-to-br dark:from-glitchsecure-purple-dark dark:via-hero-gradient-middle-dark dark:to-hero-gradient-right-dark"
>
  <img
    class="absolute block h-full w-full object-cover object-center opacity-[0.2] dark:hidden"
    src="/assets/img/home/herobg-light.png"
  />
  <img
    class="absolute hidden h-full w-full object-cover object-center opacity-[0.2] dark:block"
    src="/assets/img/home/herobg-dark.png"
  />
  {%- include nav.html -%}

  <div class="container max-w-7xl pt-24 lg:pt-48">
    <div class="flex flex-wrap items-center">
      <div class="w-full px-4 lg:w-1/2">
        <div class="animate-fadeIn">
          <h1
            class="text-2xl font-extrabold leading-snug tracking-tight text-gray-200 md:text-left md:text-4xl"
          >
            {{ page.hero-title }}
          </h1>
          <h2
            class="text-xl font-medium leading-snug text-[#c5b7e1] md:text-left md:text-3xl md:font-bold"
          >
            {{ page.hero-title-2 }}
          </h2>
          <h3
            class="mb-5 text-lg leading-tight tracking-tight text-[#c5b7e1] md:text-left md:text-2xl md:font-medium"
          >
            {{ page.hero-title-3 }}
          </h3>
          <p
            class="mb-8 max-w-xl text-sm text-gray-100 md:text-left md:text-xl"
          >
            {{ page.hero-subtitle }}
          </p>
          <div class="mb-7 flex-wrap md:flex">
            <a
              href="{{ page.hero-button-link }}"
              @click="{{ page.hero-button-click }}"
              class="mb-3 mr-1 inline-flex rounded-lg bg-neutral-100 py-3 px-6 text-base font-medium text-black transition hover:bg-opacity-90"
            >
              {{ page.hero-button }}
            </a>
          </div>
        </div>
      </div>
      <div class="hidden w-full px-4 lg:block lg:w-1/2">
        <div class="mx-auto text-right">
          <div class="relative z-10 mt-16 inline-block animate-fadeIn lg:mt-0">
            <img
              src="{{ site.url }}/assets/img/home/hero-preview.svg"
              alt="hero"
              class="mx-auto max-w-full self-start rounded-lg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include getstarted/modal.html %}
</div>
