<!-- ====== Hero Section Start -->
<div
  x-data
  class="relative bg-gradient-to-br from-hero-gradient-left via-glitchsecure-purple to-hero-gradient-right pb-12 lg:pb-32 dark:bg-gradient-to-br dark:from-glitchsecure-purple-dark dark:via-hero-gradient-middle-dark dark:to-hero-gradient-right-dark"
>
  <img
    class="absolute block h-full w-full object-cover object-center opacity-[0.2] dark:hidden"
    src="/assets/img/home/herobg-light.png"
  />
  <img
    class="absolute hidden h-full w-full object-cover object-center opacity-[0.2] dark:block"
    src="/assets/img/home/herobg-dark.png"
  />
  {%- include nav.html -%}

  <div class="w-full mx-auto px-4 max-w-7xl pt-12 lg:pt-32">
    <div class="flex flex-wrap items-center">
      <div class="w-full px-4 lg:w-1/2">
        <div class="animate-fadeIn">
          {% if page.hero-title-3 %}
          <h2
            class="text-base font-medium leading-snug text-neutral-200 opacity-75 md:text-left md:text-xl md:font-bold"
          >
            {{ page.hero-title-3 }}
          </h2>
          {% endif %}
          <h1
            class="text-3xl font-extrabold leading-snug tracking-tight text-neutral-200 md:text-left md:text-5xl"
          >
            {{ page.hero-title }}
          </h1>
          {% if page.hero-title-2 %}
          <h2
            class="text-lg font-medium leading-snug text-neutral-300 md:text-left md:text-2xl md:font-bold"
          >
            {{ page.hero-title-2 }}
          </h2>
          {% endif %}
          <p
            class="mt-8 mb-8 max-w-xl text-base text-neutral-100 md:text-left md:text-xl"
          >
            {{ page.subtitle }}
          </p>
          <div class="mb-7 flex-wrap md:flex">
            <a
              href="{{ page.hero-button-link }}"
              @click="{{ page.hero-button-click }}"
              class="mb-3 mr-1 inline-flex rounded-lg bg-neutral-100 py-3 px-6 text-base font-medium text-neutral-800 transition hover:bg-opacity-90"
            >
              {{ page.hero-button }}
            </a>
          </div>
        </div>
      </div>
      <div class="hidden w-full px-4 lg:block lg:w-1/2">
        <div class="mx-auto text-right">
          <div class="relative z-10 mt-16 inline-block animate-fadeIn lg:mt-0">
            <img src="/assets/img/home/hero-preview.svg" alt="platform screenshot" class="mx-auto max-w-full self-start rounded-lg dark:hidden"/>
            <img src="/assets/img/home/hero-preview-dark.svg" alt="platform screenshot" class="mx-auto max-w-full self-start rounded-lg hidden dark:block"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
